body{
    background-color: black;
}
#head{
    font-size: 5rem;
    color: burlywood;
    text-align: center;
}
.hero{
    justify-content: center;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    background-color: antiquewhite;
    
}
